@media screen and (max-width:930px){
    header .container{
        display: flex;
        flex-direction:column;

}
        .botao{
        width:190px;
        height:60px;
        
    }
        .descricao{
        width:485px;
        height:270px;
        
    }
    



@media screen and (max-width:930px){
    .descricao{
        width: 50%;
        height: 50%; }}}